.app {
    margin-left: 10px;
    margin-right: 10px;

    .title {
        font-size: 30px;
        vertical-align: center;
    }
}

.header-row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.tooltip-text {
    font-size: 30px;
}

.tab-panel {
    display: block;
}

.tab-panel-hidden {
    display: none;
}

.output {
    margin-top: 20px;
    border: 1px solid;
    border-collapse: collapse;

    th {
        background-color: #04AA6D;
        color: white;
    }
    
    .highlight {
        background-color: #AA046D;
        color: white;
    }

    th, td {
        border: 1px solid;
        height: 140%;
        padding: 10px;
    }
}

.enlarge-emoji {
    font-size: 45px;
}
