.app {
    margin-left: 10px;
    margin-right: 10px;
}

.target-word {
    margin-top: 10px;
    margin-bottom: 20px;
}

.target-word {
    .value {
        width: 50px;
    }
}

.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
