.orange {
    background-color: rgb(242, 111, 59);
    color: rgb(0, 0, 0);
}

.light-blue {
    background-color: rgb(122, 184, 245);
    color: rgb(0, 0, 0);
}

.gray {
    background-color: rgb(109, 113, 115);
    color: rgb(255, 255, 255);
}
