.colored-score {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.colored-cell {
    margin-left: 3px;
    margin-right: 3px;
    flex: flex-grow;
    width: 30px;
    text-align: center;
    font-family: monospace;
}

.clickable {
    cursor: pointer;
}

.black {
    background-color: rgb(242, 111, 59);
    color: rgb(0, 0, 0);
}

.white {
    background-color: rgb(122, 184, 245);
    color: rgb(0, 0, 0);
}

.gray {
    background-color: rgb(109, 113, 115);
    color: rgb(255, 255, 255);
}
