.header {
    margin-top: 20px;
}

.header-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
}

.date-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
}
