.go-button {
    margin-top: 15px;
    justify-content: center;
    display: flex;
}

.loading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.loading-spinner {
    margin-right: 10px;
}

