.guess-score-list {
    display: flex;
    flex-direction: row;
}

.extra-parameters {
    display: flex;
    flex-direction: column;
}

.extra-parameter-row {
    display: flex;
    flex-direction: row;
}
