.guess-score-pair {
    display: flex;
    justify-content: space-between;
}

.col {
    margin: 2px 10px 10px 2px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 0px 10px 10px 0px;
}
