.keyboard {
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    flex: flex-grow;
}

.key {
    margin-top: 3px;
    margin-left: 3px;
    text-align: center;
    font-family: monospace;
    width: 30px;
}

