.score-cell {
    font-family: monospace;
}

.pane-link {
    text-decoration: none;
    font-size: 150%;
    padding-right: 10px;
}

.cell-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.luck-score {
    align-self: flex-start;
    font-family: monospace;
    text-align: left;
    padding-right: 10px;
}

.luck-bits {
    align-self: flex-end;
    text-align: right;
    padding-left: 10px;
}

.luck-table {
    border: 1px solid;
    margin-top: 50px;

    td {
        border: 1px solid;
        text-align: left;
        padding: 20px;
    }

    th {
        border: 2px solid;
        text-align: center;
        padding: 20px;
    }
}
