.up-down-button {
    .icon {
        transform: scale(2);
    }
}

.number-input-label {
    text-align: right;
}

.value {
    margin-left: 20px;
    margin-right: 20px;
    width: 75px;
    text-align: right;
}
