.practice-scores {
    border: 1px solid;
    margin-top: 50px;

    th {
        border: 2px solid;
        text-align: center;
        padding: 20px;
    }

   td {
        border: 1px solid;
        text-align: left;
        padding: 20px;
    }
}

