.practice-guess-block {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

.practice-guess-input {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

