.practice-scores {
    border: 1px solid;
    margin-top: 50px;

    th {
        border: 2px solid;
        text-align: center;
        padding: 20px;
    }

   td {
        border: 1px solid;
        text-align: left;
        padding: 20px;

    }
}

.solved {
    background-color: rgb(144, 238, 144);
}

.orange {
    background-color: rgb(255, 165, 0);
    color: rgb(0, 0, 0);
}

.light-blue {
    background-color: rgb(173,216,230);
    color: rgb(0, 0, 0);
}

.gray {
    background-color: rgb(127, 127, 127);    
    color: rgb(255, 255, 255);
}
