.targets-guesses {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    padding-bottom: 10px;

    .label {
        text-align: left;
    }
    
    .fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.guesses {
    text-align: right;
}

