.loading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loading-spinner {
    margin-right: 10px;
}

.header {
    margin-top: 10px;
}

.header-cell {
    text-align: left;
}

.error {
    margin-top: 30px;
    text-align: center;
    font-size: 140%;
}
