.header {
    margin-top: 20px;
}

.header-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
}

.date-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
}

.error {
    margin-top: 30px;
    text-align: center;
    font-size: 140%;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
